.logo-img{
    border-radius: 50px;
}
.navbar{
    padding-left: 1rem;
    padding-right: 0.7rem;
    background-color: #121212;
}
.nav-item{
    padding: 0 0.8rem 0;
}

.navbar-toggler{
    border:none;
}
body{
    background-color: #121212;
    
}
h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 11vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 105vh;
    color: #fff;
    
}
.copyright{
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    color: #fff;
    
    
}
.navbar-brand{
    font-family: 'Montserrat';
}