.logo-img{
    border-radius: 50px;
}
.navbar{
    padding-left: 1rem;
    padding-right: 0.7rem;
    background-color: #121212;
    width: 100vw;
    
}
.nav-item{
    padding: 0 0.8rem 0;
}

.navbar-toggler{
    border:none;
}
body{
    background-color: #121212;
    padding: 0;
    margin: 0;
    
}
.main-img{
    height: 90vh;
    width: 100vw;
    display: block;
    
}
.copyright{
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 0;
    
    
}
.navbar-brand{
    font-family: 'Montserrat';
}
body {
    padding-top: 90px;
}
@media (max-width:600px) {
    .top-container{
        background: url('card1_crop.jpg') no-repeat center/cover;
    }
    .main-img{
        
        width: 0%;
        height: 85vh;
    }
    .navbar{
        padding: 0;
    }
    .nav-item{
        padding: 0;
    }
   
}

footer{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.developer{
    text-decoration: underline;
}
